<mat-card>
  <mat-table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="['one', 'two']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['one', 'two']"></mat-row>
    <ng-container *ngFor="let columnDef of columns"
      matColumnDef="{{columnDef.name}}">
      <div *matHeaderCellDef>{{columnDef.name}}</div>
      <div [ngClass]="columnDef.styles"
        *matCellDef="let column">{{column[columnDef.displayProperty]}}</div>
    </ng-container>

  </mat-table>
  <mat-paginator [hidePageSize]="true"
    [pageSize]="20"></mat-paginator>
</mat-card>
