<!-- <div style="overflow: scroll; height: 500px;"> -->
<!-- <mat-select id="gg">
  <mat-option *ngFor="let item of items | async"
    [value]="item">
    {{item}}
  </mat-option>
</mat-select> -->
<!-- </div> -->

<mat-form-field>
  <mat-select placeholder="Favorite food"
    (openedChange)="selectOpen($event,select)"
    id="gg"
    #select>
    <mat-option *ngFor="let item of items | async; trackBy: trackByFn"
      [value]="item">
      {{item}}
    </mat-option>
  </mat-select>
</mat-form-field>
